manifest {
    homePage = 'https://github.com/iarcbioinfo/TCR-BCR-nf'
    description = 'Nextflow pipeline to genotype Tcell and Bcell receptors from bulk or single-cell RNAseq data'
    mainScript = 'script.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker { 
    docker.enabled = true 
    process.container = 'quay.io/biocontainers/trust4:1.1.0--h43eeafb_0'
  }
}

process {
    shell =  ['/bin/bash','-euo','pipefail']
}

params {
    output_folder = "."
}

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/TCR-BCR-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/TCR-BCR-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/TCR-BCR-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/TCR-BCR-nf_dag.html"
}
